<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/media_styles.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
    <title>Lunax</title>
</head>

<body>
    {% block header %}{% endblock %}

    <div class="container text-center" id="main_logo_quote">
        <h1>LUNAX</h1>
        <h1>Art collage gallery</h1>
        <br>
        <p class="main_quote">Авторські картини-колажі — джерело натхнення,</p>
        <p class="main_quote">ексклюзивний подарунок і незвичайний акцент в інтер'єрі</p>
    </div>

    <div class="container text-center" id="photo_demonstration_section">
        <div class="row">
            <div class="col">
                <img src="{{ url_for('static', filename='images/demonstrative_photo_1.png') }}" alt="demonstrative_photo">
            </div>
            <div class="col">
                <img src="{{ url_for('static', filename='images/demonstrative_photo_2.jpg') }}" alt="demonstrative_photo">
            </div>
            <div class="col">
                <img src="{{ url_for('static', filename='images/demonstrative_photo_3.jpg') }}" alt="demonstrative_photo">
            </div>
        </div>
    </div>

    <div class="container text-center section section_2">
        <h2 class="section_quote">Картини-колажі — ексклюзивний подарунок</h2>
        <div class="container">
            <div class="row row-cols-3" id="table_section_2">
                <div class="col text-center need_right_border">
                    <h4>Авторські прийоми</h4>
                    <p>надають роботам
                        стереоефект і багатовимірність</p>
                </div>
                <div class="col text-center need_right_border">
                    <h4>Природні матеріали</h4>
                    <p>наполняют композиции энергетикой живой природы</p>
                </div>
                <div class="col text-center">
                    <h4>Прозора основа</h4>
                    <p>дозволяє вписати картини
                        в будь-який інтер'єр</p>
                </div>
                <div class="col text-center need_right_border">
                    <h4>Унікальність робіт</h4>
                    <p>різні композиції навіть із однакових матеріалів</p>
                </div>
                <div class="col text-center need_right_border">
                    <h4>Фантазійний сюжет</h4>
                    <p>який хочеться розглядати, розгадувати й обговорювати</p>
                </div>
                <div class="col text-center">
                    <h4>Позитивні емоції</h4>
                    <p>картини завжди покращують настрій, іноді навіть лікують</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container text-center section section_3" id="gallery-section">
        <h2 class="section_quote section_quote_header">Галерея LUNAX — джерело натхнення</h2>
        <div class="d-flex flex-wrap justify-content-evenly align-items-center">
            <div class="container grid-container">
                <figure>
                    <div class="img-wrapper">
                        <img src="{{ url_for('static', filename='images/painting_1.png') }}" class="img-thumbnail" alt="picture">
                    </div>
                    <figcaption>
                        <p>Когда человека не было на Земле</p>
                    </figcaption>
                </figure>
                <figure>
                    <div class="img-wrapper">
                        <img src="{{ url_for('static', filename='images/painting_2.png') }}" class="img-thumbnail" alt="picture">
                    </div>
                    <figcaption>
                        <p>Брызги шампанского о борт корабля</p>
                    </figcaption>
                </figure>
                <figure>
                    <div class="img-wrapper">
                        <img src="{{ url_for('static', filename='images/painting_3.png') }}" class="img-thumbnail" alt="picture">
                    </div>
                    <figcaption>
                        <p>Жизнь зарождалась в воде</p>
                    </figcaption>
                </figure>
                <figure>
                    <div class="img-wrapper">
                        <img src="{{ url_for('static', filename='images/painting_4.png') }}" class="img-thumbnail" alt="picture">
                    </div>
                    <figcaption>
                        <p>Весна, весна, весна - пришла</p>
                    </figcaption>
                </figure>
                <figure>
                    <div class="img-wrapper">
                        <img src="{{ url_for('static', filename='images/painting_5.png') }}" class="img-thumbnail" alt="picture">
                    </div>
                    <figcaption>
                        <p>Цвет папоротника</p>
                    </figcaption>
                </figure>
                <figure>
                    <div class="img-wrapper">
                        <img src="{{ url_for('static', filename='images/painting_6.png') }}" class="img-thumbnail" alt="picture">
                    </div>
                    <figcaption>
                        <p>Уточка приводнилась</p>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</body>

</html>